body{
    margin: 0;
    background: #ccc;
}
#wrapper{
    width: 90%;
    margin: auto;
    background: #fff;
    min-height: 800px;
        
}
.header{
    width: 100%;
    height: 150px;
/*    background-color: #999999;*/
}
.logo{
    width: 20%;
   height: 100%;
   background-color: #999999;
   float: left;
   margin-right: 0.2%;
}
.banner{
    width: 79.8%;
   height: 100%;
   background-color: #999999;
   float: left;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: #999999;
    margin-top: 2.5px;
}