p{color: red;
  font-size: 40px; 
  font-weight: bold;
}

#last{
    font-size: 100px;
    color: greenyellow;
    font-weight: bold;
}
.middle{
    font-size: 50px;
    color: blueviolet;
    font-weight: bold;
}